@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}
#legend {
    background: white;
    padding: 10px;
    padding-bottom: 15px;
    opacity: 0.7;
    display: none;
    margin: 0px auto;
  }

.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
}
.top-right-icon {
    margin: 10px;
}
.navbar-custom {
    background-color: #431D5C;
    width:100%;
}
.glyphicon-menu-hamburger, .glyphicon-list, .glyphicon-map-marker, .glyphicon-chevron-left, .navbar-text, .glyphicon-home{
    color: #FFF;
}

button.navbar-toggle.btn-lg {
    margin: 4px;
}
.navmenu-custom {
    background-color: #431D5C;
}

.menu-button, .search-bar, .list-button, .map-button {
    padding: 0px;
}

.form-group, .form-control {
    width: 100%;
}

a {
    color: #FFF;

}
body{
    padding-top: 50px;
}
.listmarker{
    padding-right: 1%;
}
.list-a{
    display: block;

}
.empty{
    color: green;
}
.half-full{
    color: orange;
}
.full{
    color:red;
}
#listlink{
    display: block;
    width: 100%;
    color:black;
}
.img-responsive{
    margin: 0 auto;
}
.lotmarker{
    text-align: center;
    display: block;
}

/* lotinfo page */
#lotname {
    text-align: center;
}
<<<<<<< HEAD

#headerlotname {
    width:70%;
    float:left;
    background-color: #D8D8D8;
    margin:0px;
    padding-top: 20px;
    padding-bottom: 20px;
    display:block;
    text-align: center;
    height: inherit;
    font-size: 18px;
}
#parkhere{
    background-color: #431D53;
    width: 30%;
    margin:0px;
    padding-top:20px;
    padding-bottom:20px;
    display:inline-block;
}
#lot-details {

}


=======
.tabTop a{
    border:1px black solid;
    color: black;
}
>>>>>>> cef36e95d1ee9b084e7ffd5fdba1de242238d83e
