@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.top-right-icon {
    margin: 10px;
}
.navbar-custom {
    background-color: #431D5C;
    width:100%;
}
.glyphicon-menu-hamburger, .glyphicon-list, .glyphicon-map-marker, .glyphicon-chevron-left, .navbar-text, .glyphicon-home{
    color: #FFF;
}

button.navbar-toggle.btn-lg {
    margin: 4px;
}
.navmenu-custom {
    background-color: #431D5C;
}
a {
    color: #FFF;

}
body{
    padding-top: 70px;
}
.listmarker{
    padding-right: 1%;
}
.list-a{
    display: block;

}
.empty{
    color: green;
}
.med-full{
    color: yellow;
}
.full{
    color:red;
}
#listlink{
    display: block;
    width: 100%;
    color:black;
}
.img-responsive{
    margin: 0 auto;
}
.lotmarker{
    text-align: center;
    display: block;
}